*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


#hero{
    background-image: url(family.webp);
    background-size: cover;
    background-position: center;
}

.page1{
    width: 100%;
    height: 100dvh;
}

.blur-block{
    width: 47%;
    height: 100dvh;
    background: #0F2E3A33;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.name-company{
    font-size: 42px;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.zona{
    font-size: 60px;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.description{
    font-size: 42px;
    color: cyan;
}

.house{
    color: white;
    text-align: center;
    font-size: 22px;
}

.btn{
    color: white;
    background-color: aqua;
    width: 25%;
    height: 7%;
    border-radius: 20px;
    font-weight: bold;
    outline: none;
    border: none;
    font-size: 16px;
    &:hover{
        transform: scale(1.1);
        transition-duration: 0.1s;
    }
}

.bron{
    text-align: center;
    font-size: 22px;
    color: white;
}

.container{
    height: 90dvh;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-left: 30dvh;
    padding-right: 20dvh;
    grid-gap: 2dvh;
}
.items{
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.items:nth-of-type(1){
    background-image: url(https://mos-111721.oml.ru/thumb/2/k1skrkb-GLSD7IRpm4eGbg/2000r1333/d/tpl25_luxury_lakeside_hotel.png);
    background-position: center;
    background-size: cover;
}
.items:nth-of-type(2){
    background-image: url(https://mos-111721.oml.ru/thumb/2/drEkjxous_OJr2ua0oFyzg/2000r1333/d/tpl25_stp25_55519846_2.jpg);
    background-position: center;
    background-size: cover;
}
.items:nth-of-type(3){
    background-image: url(https://mos-111721.oml.ru/thumb/2/NwI-YdVTtqwKXytFaAB2Eg/2000r1333/d/tpl25_stp25_55519903_2.jpg);
    background-position: center;
    background-size: cover;
}
.items:nth-of-type(4){
    background-image: url(https://mos-111721.oml.ru/thumb/2/ErV0kMb_Y40qUv-P_EF6Iw/2000r1333/d/tpl25_55459971_2.jpg);
    background-position: center;
    background-size: cover;
}
.items:nth-of-type(5){
    background-image: url(https://mos-111721.oml.ru/thumb/2/sQ7jhctcQGqP3puhO2ncNA/2000r1333/d/tpl25_stp25_55519904_2.jpg);
    background-position: center;
    background-size: cover;
}
.items:nth-of-type(6){
    background-image: url(https://mos-111721.oml.ru/thumb/2/TnD5OJItm3mFRxuHagoD2Q/2000r1333/d/tpl25_55471919_2.jpg);
    background-position: center;
    background-size: cover;
}
.label{
    background-color: rgb(4, 83, 83);
    color: white;
    height: 60px;
    width: 255px;
    font-size: 26px;
    border-radius: 20px 20px 0 0;
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    &:hover{
    background-color: cyan;
    transition-duration: 0.2s;
}
}
